__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/


*.sqlite3
*.xlsx
*.csv

*_test*.db
*.db-wal
*.db-shm

.vscode/
.env

kiwoom/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.xlsx
*.csv
.env
.vscode/